.container {
  background-color: var(--opacityBlue);
  padding: var(--paddingContainer);
  padding-top: 3rem;
}

.imgContainer {
  background-color: var(--opacityBlue);
  padding: 4rem 0;
  display: flex;
  column-gap: 5rem;
}

.vectorContainer {
  width: 100%;
  height: 100%;
}

.vector {
  object-fit: cover;
  width: 370px;
  height: 100%;
}

.descriptionContainer {
  width: 80%;
}

.slide, .slide .image {
  width: 100%;
}

.imagePrincipal {
  background-color: var(--white);
  border: 4px solid var(--lightBlue);
  border-radius: var(--roundedMedium);
}

.slide {
  opacity: .5;
  transform: scale(.7);
  transition: .5s;
}

.slide_active {
  transform: scale(1);
}

.contentTitle {
  padding-bottom: 2rem;
}

.contentTitle span {
  display: block;
  text-transform: capitalize;
  font-size: var(--size2Xlarge);
  font-weight: 700;
}

.buttonMore {
  padding-top: 3rem;
}

.buttonMore button {
  background-color: var(--grey2);
  border-radius: var(--roundedMedium);
  font-size: var(--sizeSmall);
  color: var(--white);
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin-top: 2.5rem;
  outline: none;
  border: 3px solid black;
  cursor: pointer;
}

.buttonMore button:hover {
  background-color: var(--lightBlue);
}