/* .nav {
  height: var(--heightNavbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  padding: var(--paddingContainer);
  color: var(--grey);
}

.logo {
  margin: .5rem 3rem;
  display: flex;
  align-items: center;
}

.menu_button_container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navitem {
  text-transform: uppercase;
  font-size: var(--sizeSmall);
  font-weight: 600;
  display: flex;
}

.navitem > li {
  list-style: none;
  text-decoration: none;
}

.navitem span:not(:last-child) {
  padding: 0 1rem;
}

.navitem span:last-child {
  padding-left: 1rem;
}

@media (max-width: 768px) {

} */


.container {
  display: flex;
  align-items: center;
  height: var(--heightNavbar);
  justify-content: space-between;
  padding: 0 4% 0 10%;
  background-color: var(--mainColor);
  color: var(--grey);
}

.nav a {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: var(--sizeSmall);
  font-weight: 600;
}

.nav a:hover {
  color: var(--secondaryColor);
}

.container .navBtn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.container div,
.nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .container .navBtn {
    visibility: visible;
    opacity: 1;
  }

  .container .nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--white);
    transition: 1s;
    z-index: 999;
  }

  .container .responsive_nav {
    transform: translateY(100vh);
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .nav a {
    font-size: 1.5rem;
  }
}