.container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.imageContainer {
  height: 628px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: var(--lightWhite);
}

.flowContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flowContainer span {
  text-align: center;
  font-weight: 600;
}

.image {
  height: 232px;
  width: 232px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin: 5rem 0; */
}

.borderContainer {
  background-color: white;
  border: 3px solid var(--blue);
  border-radius: 5px;
  padding: .1rem;
  position: relative;
  display: flex;
  bottom: 1.5rem;
}

.selOpt {
  height: 2.5rem;
  width: 25rem;
  border: none;
}

.inputText {
  height: 2.5rem;
  width: 35rem;
  outline: none;
  border: none;
}

.inputText::placeholder {
  color: var(--centerBlue);
}

.lineVertical {
  border-left: 3px solid var(--centerBlue);
  height: 2rem;
  margin: .2rem .5rem 0 1.5rem;
  background-color: white;
}

.iconSearch {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.borderContainer button {
  position: absolute;
  right: 5px;
  height: 2.5rem;
  width: 7rem;
  background-color: var(--centerBlue);
  border-radius: 10px;
  font-size: var(--sizeSmall);
  color: var(--white);
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

.btnSubmit {
  display: flex;
  justify-content: center;
}

.buttonJobContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.buttonJobContainer button {
  outline: none;
  border: none;
  background-color: var(--white);
  border: 3px solid var(--centerBlue);
  border-radius: var(--roundedXSmall);
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonJobContainer button:focus {
  outline: none;
  border: none;
  background-color: var(--centerBlue);
  color: var(--white);
  border: 3px solid var(--centerBlue);
  border-radius: var(--roundedXSmall);
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.loader {
  border: 5px solid var(--lightGrey);
  border-radius: 50%;
  border-top: 5px solid var(--centerBlue);
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 30%;
  left: 40%;
}

.spanNoVacancy {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: var(--sizeLarge);
  padding: 3rem;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 576px) {
  .selOpt {
    width: 11rem;
  }

  .inputText {
    width: 14rem;
  }

  .iconSearch {
    margin: 0 0;
  }

  .imageContainer {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .image {
    height: 80px;
    width: 80px;
  }

  .buttonJobContainer {
    flex-direction: column;
    align-items: center;
  }
}