@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --sizeSmall: .875rem;
  --sizeMedium: 1rem;
  --sizeLarge: 1.25rem;
  --sizeXlarge: 2rem;
  --size2Xlarge: 3.5rem;
  --size3Xlarge: 4rem;

  --white: #ffffff;
  --lightWhite: #FAFAFA;
  --opacityBlue: #E9EDF2;
  --blue: #0B3A7E;
  --centerBlue: #0063BB;
  --lightBlue: #0062c1;
  --deepBlue: #05224e;
  --grey: #909090;
  --grey2: #B6B6B7;
  --lightGrey: #EDEDED;
  --opacityGrey: #EFEFEF;
  --grey3: #CECECE;
  --green: #53B427;

  /* —white: #FFFFFF;
  —lightWhite: #FAFAFA;
  —opacityBlue: #E9EDF2;
  —blue: #0B3A7E;
  —centerBlue: #0063BB;
  —deepBlue: #05224E;
  —grey: #909090;
  —grey2: #B6B6B7;
  —lightGrey: #E7E7E7;
  —opacityGrey : #EFEFEF; (card principals) */

  --paddingContainer: 0 10%;
  --heightNavbar: 5rem;
  --heightFooter: 15.5rem;

  --paddingMobile: 0 10%;

  --roundedXSmall: 10px;
  --roundedSmall: 15px;
  --roundedMedium: 29px;
  --roundedFull: 50%;

  --montserrat: "Montserrat", sans-serif;

  --leading: 1;
  --leading1: 1.25;
  --leading2: 1.5;
  --leading3: 2;

  --maxWidth: 1440px;
}

html {
  font-size: 16px;
  color: var(--black);
}

body {
  font-family: var(--montserrat);
  background-color: var(--white);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}
  /* first_name,last_name,phone,email,dob,sex,domicile_id,province
  file_cv, file_reference, file_passport, file_seaman_book, file_basic_stc, file_security_atc, file_crowd_cmc */