.addressContainer {
  background-color: var(--blue);
  color: var(--white);
  min-height: 235px;
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  padding: 7rem 1rem;
}

.titleAddressContainer {
  width: 10%;
}

.titleAddressContainer span {
  font-size: var(--sizeXlarge);
  font-weight: 600;
}

.addressLocationContainer {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.listAddress {
  width: 352px;
}

.listAddress h1 {
  margin-top: 0;
}

@media (max-width: 576px) {
  .addressContainer {
    flex-direction: column;
  }

  .titleAddressContainer {
    width: 50%;
  }

  .addressLocationContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .listAddress {
    width: 90vw;
  }
}